.control{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 300px;
    margin-bottom: 1rem;
}
.select{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 333px;
    margin-bottom: 1rem;
}