main {
  margin: 0 auto;
  padding: 2rem 1rem;
}

h3{
  margin-left: 40px;
}

section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.control{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 30%;
  margin-bottom: 1rem;
}

